.tile-game {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 2px;
  width: 400px;
  height: 400px;
}

.tile {
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-active {
  background-image: url("../../img/goblin.png");
  background-size: cover;
}
